body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #eaeaea;
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background: #fff;
  width: 500px;
  padding: 25px;
  border-radius: 10px;
}

.modal h2 {
  margin: 0;
}

.sub {
  color: #656565;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-top: 10px;
  font-size: 14px;
}

input, select, textarea {
  width: 95%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 6px;
  border: 1px solid #ddd;
}

.row {
  display: flex;
  gap: 10px;
}

.row div {
  flex: 1;
}

textarea {
  resize: none;
  height: 80px;
}

.buttons {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.confirm {
  flex: 1;
  background: #2f9be0;
  border: none;
  color: #fff;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
}

.cancel {
  flex: 1;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  cursor: pointer;
}
