body { font-family: 'Inter', sans-serif; background-color: #f8f9fa; }

.sidebar {
  background: #fff;
  border-right: 1px solid #e0e0e0;

  width: 280px;
  position: fixed;
  top: 0;
  left: 0;

  height: 100vh;        /* مهم بدل min-height */
  overflow-y: auto;     /* تفعيل scroll */
  overflow-x: hidden;
}
.sidebar::-webkit-scrollbar {
  width: 6px;
}

.sidebar::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 10px;
}

.sidebar::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}
main {
  margin-left: 260px;
}
.logo-box { width: 40px; height: 40px; background: #e3f2fd; border-radius: 8px; display: flex; align-items: center; justify-content: center; }
.logo-box i { color: #f06292; font-size: 1.5rem; }
.nav-link { color: #6c757d; font-weight: 500; padding: 10px 15px; border-radius: 8px; margin-bottom: 5px; }
.nav-link:hover { background: #f0f4f8; color: #3498db; }
.nav-link.active { background: #3498db; color: #fff !important; }
.nav-link i { margin-right: 12px; width: 20px; text-align: center; }

/* Card Styling */
.card { border: none; border-radius: 12px; transition: transform 0.2s; border: 1px solid #eee; }
.job-card { min-height: 200px; }
.course-card { min-height: 380px; }

.progress { height: 8px; border-radius: 10px; background-color: #e9ecef; }
.progress-bar { background-color: #212529; } 

.badge-interview { background-color: #fff4e5; color: #ff9800; border: 1px solid #ffe0b2; }
.badge-review { background-color: #fffde7; color: #fbc02d; border: 1px solid #fff9c4; }
.badge-enrolled { background-color: #e8f5e9; color: #4caf50; border: 1px solid #c8e6c9; }
.badge-registered { background-color: #e3f2fd; color: #1976d2; border: 1px solid #bbdefb; }
.badge-pill-light { background-color: #f0f0f0; color: #212529; padding: 2px 8px; border-radius: 20px; font-size: 0.75rem; }

.tag-blue { background-color: #3498db; color: white; padding: 2px 10px; border-radius: 15px; font-size: 0.75rem; }

.btn-outline-danger-custom { color: #ff5252; border: 1px solid #ff5252; background: transparent; }
.btn-outline-danger-custom:hover { background: #ff5252; color: white; }
