body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background: #eef5ff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.back-btn {
    position: absolute;
    top: 140px;
    left: 530px;
    font-size: 18px;
    color: #444;
    cursor: pointer;
}

.card {
    background: #fff;
    width: 540px;
    height: 520px;
    border-radius: 20px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.1);
    text-align: center;
}

.card h2 {
    margin-top: 10px;
    font-size: 24px;
}

.card input {
    width: 420px;
    height: 10px;
    padding: 14px;
    margin: 12px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
    background-color: #eeeded;
}

button {
    width: 450px;
    height: 39px;
    padding: 14px;
    background: #2288e6;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

button:hover {
    background: #1c76ca;
}

.success {
    margin-top: 20px;
    color: green;
    font-size: 16px;
    display: none;
}

.logo img {
    margin-top: 60px;
}

.footer{
    color: #a1a0a0;
    font-size: 12px;
    position: absolute;
    top: 580px;
    left: 690px;
}